<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="row g-3">
  <div class="row g-3">
    <div class="col">
      <label for="nombre" class="form-label">Nombres</label>
      <input [formControl]="nombreControl" type="text"
        [ngClass]="{'is-invalid': nombreControl.invalid && nombreControl.touched}" class="form-control"
        placeholder="Nombre" aria-label="Nombre">
      <div class="form-tex">Mínimo 10 caracteres</div>
      <div *ngIf="nombreControl.hasError('required') && nombreControl.touched" class="invalid-feedback">Requerido</div>
    </div>
    <div class="col">
      <label for="apellido" class="form-label">Apellidos</label>
      <input [formControl]="apellidoControl" type="text"
        [ngClass]="{'is-invalid': apellidoControl.invalid && apellidoControl.touched}" class="form-control"
        placeholder="Apellido" aria-label="Apellido">
      <div class="form-tex">Mínimo 10 caracteres</div>
      <div *ngIf="apellidoControl.hasError('required') && apellidoControl.touched" class="invalid-feedback">Requerido
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">email</label>
    <input [formControl]="emailControl" type="email" class="form-control"
      [ngClass]="{'is-invalid': emailControl.invalid && emailControl.touched}" id="inputEmail"
      placeholder="user@mail.com">
    <div *ngIf="emailControl.hasError('required') && emailControl.touched" class="invalid-feedback">Requerido</div>
    <div *ngIf="emailControl.hasError('email')" class="invalid-feedback">No es un email válido.</div>
  </div>
  <div class="col-md-6">
    <label for="curso" class="form-label">Curso</label>
    <select [formControl]="cursoControl" id="curso" class="form-select"
      [ngClass]="{'is-invalid': cursoControl.invalid && cursoControl.touched}">
      <option selected>Escojer...</option>
      <option>Node</option>
      <option>Python</option>
      <option>Java</option>
    </select>
    <div *ngIf="cursoControl.hasError('required') && cursoControl.touched" class="invalid-feedback">Requerido</div>
  </div>

  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Contraseña</label>
    <input [formControl]="passwordControl" type="password"
      [ngClass]="{'is-invalid': passwordControl.invalid && passwordControl.touched}" class="form-control"
      id="inputPassword">
    <div *ngIf="passwordControl.hasError('required') && passwordControl.touched" class="invalid-feedback">Requerido
    </div>
  </div>

  <div class="col-md-6">
    <label for="reinputPassword" class="form-label">Ingresar contraseña</label>
    <input [formControl]="repasswordControl" type="password"
      [ngClass]="{'is-invalid': repasswordControl.invalid && repasswordControl.touched}" class="form-control"
      class="form-control" id="reinputPassword">
    <div *ngIf="repasswordControl.hasError('required') && repasswordControl.touched" class="invalid-feedback">Requerido
    </div>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Dirección</label>
    <input [formControl]="direccionControl" type="text" class="form-control"
      [ngClass]="{'is-invalid': direccionControl.invalid && direccionControl.touched}" class="form-control"
      id="inputAddress" placeholder="1234 Main St">
    <div *ngIf="direccionControl.hasError('required') && direccionControl.touched" class="invalid-feedback">Requerido
    </div>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">MZ - Villa - número</label>
    <input [formControl]="direccion2Control" type="text" class="form-control" class="form-control" id="inputAddress2"
      placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <input [formControl]="ciudadControl" type="text" class="form-control"
      [ngClass]="{'is-invalid': ciudadControl.invalid && ciudadControl.touched}" class="form-control" id="inputCity">
    <div *ngIf="ciudadControl.hasError('required') && ciudadControl.touched" class="invalid-feedback">Requerido
    </div>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Provincia</label>
    <select [formControl]="provinciaControl" id="inputState"
      [ngClass]="{'is-invalid': provinciaControl.invalid && provinciaControl.touched}" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
    <div *ngIf="provinciaControl.hasError('required') && provinciaControl.touched" class="invalid-feedback">Requerido
    </div>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">código postal</label>
    <input [formControl]="zipControl" type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input [formControl]="vipControl" class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        VIP
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Registrar</button>
  </div>
</form>